{% extends 'base.html.twig' %}

{% block title %}Accompagnement index
{% endblock %}

{% block component %}

    <!--importants-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <link
            rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">

{% endblock %}

{% block body %}
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.3/datatables.min.css"/>

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.3/datatables.min.js"></script>
    <h4>vous avez (<span style="color: #0a58ca">{{ accompagnements|length }}</span> )demande d'accompagnement </h4>

    <table class="table table-hover" id="example" style="width:100%">
        <thead>
            <tr>

                <th style="color: #0b0b0b">expéditeur</th>
                <th>task</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accompagnement in accompagnements %}
            {%  if accompagnement.isAccepted==0 %}
            <tr>
                {% set diff = date(accompagnement.task.enddate).diff(date(accompagnement.task.startdate)) %}
                <td>  <img class="rounded-circle" style="max-width: 6%;" src="{{ asset('uploads/users/'~ accompagnement.user.pdp)}}" >   {{ accompagnement.user }} vous à envoyer un task à faire de durée <span style="color: #0a58ca">{{ diff.days }}</span> jours</td>
                <td><button data-toggle="modal" data-target="#myModal">voir task</button>

                </td>
            {% if is_granted('ROLE_PRO')%}
                <td>
          <a  style="color: #0a58ca" href="{{ path('app_accompagnement_accepter', {'id': accompagnement.id}) }}">  <span style="color: #0a58ca" class="badge bg-primary" >accpter</span></a>
                    <a href="{{ path('app_accompagnement_rejeterr', {'id': accompagnement.id})   }}">  <span style="color: #ca0a0a" class="badge ">rejeter</span></a></td>
          {%  elseif is_granted('ROLE_USER') %}
              <td>
                  <a href="{{ path('app_accompagnement_rejeterr', {'id': accompagnement.id})   }}">  <span style="color: #ca0a0a" class="badge ">annuler</span></a></td>

              {%  endif %}
            </tr>

           {% endif %}
        {% endfor %}

        </tbody>

    </table>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    Modal content goes here
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


<script>$(document).ready(function () {
        $('#example').DataTable();
    });</script>
    <a href="{{ path('app_accompagnement_new') }}">Create new</a>
{% endblock %}
