{% extends 'base.html.twig' %}

{% block title %}Accompagnement index
{% endblock %}

{% block body %}
    <h1>Accompagnement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Is_accepted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accompagnement in accompagnements %}
            <tr>
                <td>{{ accompagnement.id }}</td>
                <td>{{ accompagnement.isAccepted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_accompagnement_show', {'id': accompagnement.id}) }}">show</a>
                    <a href="{{ path('app_accompagnement_edit', {'id': accompagnement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_accompagnement_new') }}">Create new</a>
{% endblock %}
