{% extends 'base.html.twig' %}

{% block title %}Accompagnement
{% endblock %}
{% block component %}

    <!--importants-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <link
            rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">

{% endblock %}
{% block body %}

    <h1>Accompagnement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accompagnement.id }}</td>
            </tr>
            <tr>
                <th>Is_accepted</th>
                <td>{{ accompagnement.isAccepted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_accompagnement_index') }}">back to list</a>

    <a href="{{ path('app_accompagnement_edit', {'id': accompagnement.id}) }}">edit</a>

    {{ include('accompagnement/_delete_form.html.twig') }}
{% endblock %}
