{% extends 'admin.html.twig' %}

{% block title %}formation index{% endblock %}
{% block component %} <link rel="stylesheet" href="{{ asset("Card/style.css") }}" />  {% endblock %}

{% block body %}

    <div class="org-table-container" style="">
        <div class="org-table-head-container">
            <div class="">
                <h2>les formations</h2>
            </div>
        </div>
        <table class="org-table">
            <thead class="org-table-head">
            <tr>
                <th class="org-table-th">Id</th>
                <th class="org-table-th">DateInscriptionFormation</th>
                <th class="org-table-th">StatusFormation</th>
                <th class="org-table-th">Note</th>

                <th class="org-table-th">formation</th>
                <th class="org-table-th">user</th>


                <th class="org-table-th">actions</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for inscription_formation in inscription_formations %}
                {% if inscription_formation.autorisation == 'true' %}
                <tr>
                    <td class="org-table-th">{{ inscription_formation.id }}</td>
                    <td class="org-table-th">{{ inscription_formation.dateInscriptionFormation ? inscription_formation.dateInscriptionFormation|date('Y-m-d') : '' }}</td>
                    <td class="org-table-th">{{ inscription_formation.statusFormation }}</td>
                    <td class="org-table-th">{{ inscription_formation.note }}</td>
                    <td class="org-table-th">{{inscription_formation.formations }}</td>
                    <td class="org-table-th">{{inscription_formation.user }}</td>
                    <td  class="org-table-td">
                        <div class="org-icon-container">
                            <a class="org-action-item" href="{{ path('app_inscription_formation_show', {'id': inscription_formation.id}) }}"><i class="fa-solid fa-circle-info" style="color: #0035ba"></i></a>
                            <a class="org-action-item" href="{{ path('app_inscription_formation_edit', {'id': inscription_formation.id}) }}"><i class="fa-solid fa-pencil"style="color: #FFC107"></i></a>
                            <form class="org-action-item" method="post" action="{{ path('app_inscription_formation_delete_back', {'id': inscription_formation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this formation?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription_formation.id) }}">
                                <button>
                                    <a href="{{ path('app_inscription_formation_delete', {'id': inscription_formation.id}) }}"><i class="fa-solid fa-trash-can" style="color: red"></i></a>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}