{% extends 'base.html.twig' %}

{% block title %}InscriptionFormation{% endblock %}

{% block body %}
    <h1>InscriptionFormation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription_formation.id }}</td>
            </tr>
            <tr>
                <th>DateInscriptionFormation</th>
                <td>{{ inscription_formation.dateInscriptionFormation ? inscription_formation.dateInscriptionFormation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StatusFormation</th>
                <td>{{ inscription_formation.statusFormation }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ inscription_formation.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inscription_formation_index') }}">back to list</a>

    <a href="{{ path('app_inscription_formation_edit', {'id': inscription_formation.id}) }}">edit</a>

    {{ include('inscription_formation/_delete_form.html.twig') }}
{% endblock %}
