






{{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
<div class="col-sm-12">
    <h4 class="contact-panel__title">Add Your product here </h4>
    <p class="contact-panel__desc mb-30">Please feel welcome to contact our friendly reception staff
        with any general or medical enquiry. Our care takers will receive or return any urgent calls.
    </p>
</div>

{#<div class="form-group">#}
{#    {{form_label(form.NomProduit   ) }}#}
{#    <i class="icon-email form-group-icon"></i>  {{ form_widget(form.NomProduit , {'attr': {'class': 'form-control'}} ) }}#}
{#</div>#}


<div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">

       {{  form_label ( form.NomProduit,'Nom Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

        {% if form_errors(form.NomProduit) is not empty  %}
            {{  form_errors( form.NomProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}
        {% else %}

        {% endif %}

        {{  form_widget ( form.NomProduit ,{ 'attr': {'class': 'form-control'}}) }}

            </div>
</div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            {{  form_label ( form.Brand,'Marque' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

            {% if form_errors(form.Brand) is not empty  %}
                {{  form_errors( form.Brand ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
                {#                <div >Looks good! ✅</div>#}
            {% endif %}

            {{  form_widget ( form.Brand ,{ 'attr': {'class': 'form-control'}}) }}
        </div>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
            {{  form_label ( form.EtatProduit,'Etat Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}
{#            {% if form_errors(form.NomProduit) is not empty  %}#}
{#                {% if form_errors(form.EtatProduit) is not empty  %}#}
{#                    {{  form_errors( form.EtatProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}#}
{#                {% else %}#}

{#                    <div >Looks good! ✅</div>#}

{#            {% endif %}#}
{#                {% else %}#}
{#            {% endif %}#}

            {% if form_errors(form.EtatProduit) is not empty  %}
                {{  form_errors( form.EtatProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
{#                <div >Looks good! ✅</div>#}
            {% endif %}


    {{  form_widget ( form.EtatProduit ,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
            {{  form_label ( form.PrixProduit,'Prix Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

            {% if form_errors(form.PrixProduit) is not empty  %}
                {{  form_errors( form.PrixProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
{#                <div >Looks good! ✅</div>#}
            {% endif %}

            {{  form_widget ( form.PrixProduit ,{ 'attr': {'class': 'form-control'}}) }}

            </div>
        </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            {{  form_label ( form.CategorieProduit,'Categorie Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

            {% if form_errors(form.CategorieProduit) is not empty  %}
                {{  form_errors( form.CategorieProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
                {#                <div >Looks good! ✅</div>#}
            {% endif %}

            {{  form_widget ( form.CategorieProduit ,{ 'attr': {'class': 'form-control'}}) }}

        </div>

    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            {{  form_label ( form.localisationProduit,'localisation Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

            {% if form_errors(form.localisationProduit) is not empty  %}
                {{  form_errors( form.localisationProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
                {#                <div >Looks good! ✅</div>#}
            {% endif %}

            {{  form_widget ( form.localisationProduit ,{ 'attr': {'class': 'form-control'}}) }}


        </div>
    </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
            {{  form_label ( form.DescriptionProduit,'Description Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

            {% if form_errors(form.DescriptionProduit) is not empty  %}
                {{  form_errors( form.DescriptionProduit ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
{#                <div >Looks good! ✅</div>#}
            {% endif %}

            {{  form_widget ( form.DescriptionProduit ,{ 'attr': {'class': 'form-control'}}) }}
        </div>
        </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
    </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
            {{  form_label ( form.ImagePath,'Image Produit' ,{ 'attr': {'class': 'contact-panel__title'}}) }}

            {% if form_errors(form.ImagePath) is not empty  %}
                {{  form_errors( form.ImagePath ,{ 'attr': {'class': 'contact-panel__title'}}) }}
            {% else %}
{#                <div >Looks good! ✅</div>#}
            {% endif %}
            {{  form_widget ( form.ImagePath ,{ 'attr': {'class': 'form-control'}}) }}

            </div>

        </div>





        </div>

    <button class="btn btn__secondary btn__rounded btn__block btn__xhight mt-10">{{ button_label|default('Enregistrer') }}</button>

</div>
{{ form_end(form ) }}




