{% extends 'admin.html.twig' %}
{% block component %}
    <link href="{{asset("images/favicon/favicon.png") }}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&amp;family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <link href="{{asset("css/use.fontawesome.com/releases/v5.15.3/css/all.css") }}" rel="stylesheet">
    <link href="{{asset("css/libraries.css") }}" rel="stylesheet">
    <link href="{{asset("css/style.css") }}" rel="stylesheet">
{% endblock %}
{% block title %}Edit CategorieProduit{% endblock %}

{% block body %}
    <h1>Authorise Post </h1>
    {{ include('produits/formadmin.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
{% block ahmed %} {% endblock %}
