{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}

{% block body %}

 <!-- ========================
       page title 
    =========================== -->

    <section class="page-title page-title-layout5 bg-overlay">
      <div class="bg-img"><img src="{{asset("images/page-titles/8.jpg") }}" alt="background"></div>
      <div class="container">
      {% for message in app.flashes('notice') %}
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <script>
       Swal.fire({
       position: 'top-end',
        icon: 'success',
        title: '{{message}}',
        showConfirmButton: false,
        timer: 5000
      
        })
      </script>
    {% endfor %}
        <div class="row">
          <div class="col-12">
            <h1 class="pagetitle__heading">Health Essentials</h1>
            <nav>
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Social-networking</li>
              </ol>
            </nav>
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->
    <!-- ========================
       page title 
    =========================== -->
         <div class="post-container" style="white-space: nowrap; overflow-x: scroll;display: flex; flex-wrap: wrap;">
           <div class="widget widget-categories">
                <h5 class="widget__title">Categories</h5>
                <div class="widget-content">
                  <ul class="list-unstyled mb-0">
                {% for categorie in categoriepostes %}
                {% set postesCount = categorie.postes|length %}
                    <li><a href="{{ path('app_poste_bycategory', {'id': categorie.id}) }}"><span class="cat-count">{{ postesCount }}</span><span>{{ categorie.topic }}</span></a></li>
                {% endfor %}
                  </ul>
                  
                </div><!-- /.widget-content -->
                <a class="btn btn__secondary btn__link btn__block" style="margin-top: 50px;"href="{{ path('app_postefront_new') }}">
          <span>Make a poste</span>
           
          </a>
                          <h5 class="widget__title"style="margin-top: 50px;">Statistique of the day</h5>
          <div class="widget-content">
          <ul>
            <li>Date: {{ dataArray[0].date }}</li>
            <li>Positive Cases: {{ dataArray[0].positive }}</li>
            <li>Negative Cases: {{ dataArray[0].negative }}</li>
            <li>Pending Cases: {{ dataArray[0].pending }}</li>
            <li>Hospitalized Currently: {{ dataArray[0].hospitalizedCurrently }}</li>
            <li>Death: {{ dataArray[0].death }}</li>
            <li>Total Test Results: {{ dataArray[0].totalTestResults }}</li>
            <li>Death Increase: {{ dataArray[0].deathIncrease }}</li>
            <li>Positive Increase: {{ dataArray[0].positiveIncrease }}</li>
          </ul>
              </div>
              </div><!-- /.widget-categories -->
              
          <div class="col-sm-12 col-md-6 col-lg-4">
          
           
           {% for poste in postes %}
         {% if loop.index % 3 == 1 %}<div style="width: 80%;">{% endif %}
            <div class="post-item" style="display: inline-block; margin-right: 10px; vertical-align: top; white-space: normal;flex-basis: calc(33.33% - 20px); margin: 10px;margin-top:30px;">
              <div class="post__img">
                <a href="{{ path('app_postecommentaire_show', {'id': poste.id}) }}">
                {% if poste.multimedia  is not empty %}
                                    <img src={{ asset('uploads/users/' ~ poste.multimedia) }} alt="poste" loading="lazy">
                                {% else %}
                        <img src={{ asset('uploads/No_Image_Available.jpg' ) }} alt="poste" loading="lazy">
                                {% endif %}
                </a>
              </div><!-- /.post__img -->
              <div class="post__body">
                <div class="post__meta-cat">
                  <a href="#">{{ poste.categorie }}</a><a>  {{ poste.likes | length }}</a>   {% if app.user and poste.isliked(app.user) %} <a href="{{ path('app_poste_like', {'id': poste.id}) }}" class="fas fa-thumbs-up js-like"></a> {% else %} <a href="{{ path('app_poste_like', {'id': poste.id}) }}" class="far fa-thumbs-up js-like"></a>{% endif %}
                </div><!-- /.blog-meta-cat -->
                <div class="post__meta d-flex">
                  <span class="post__meta-date">{{ poste.date ? poste.date|date('Y-m-d') : '' }}</span>
                  <a class="post__meta-author" href="#">{{ poste.user }}</a>
                </div>
                <h4 class="post__title"><a href="#">{{ poste.titre }}</a></h4>
                <p class="post__desc">{{  poste.description|length > 100 ? poste.description|slice(0, 100) ~ '...' : poste.description  }}
                </p>
                <a href="{{ path('app_postecommentaire_show', {'id': poste.id}) }}" class="btn btn__secondary btn__link btn__rounded">
                  <span>Check comments</span>
                  <i class="icon-arrow-right"></i>
                </a>
                {% if app.user == poste.user %}
                <a href="{{ path('app_frontposte_edit', {'id': poste.id}) }}" class="btn btn__secondary btn__link btn__rounded">
                  <span>Modify Poste</span>
                  <i class="icon-arrow-right"></i>
                </a>
                 {% endif %}
              </div><!-- /.post__body -->
            </div><!-- /.post-item -->
                {% if loop.index % 3 == 0 or loop.last %}</div>{% endif %}
              
                    {% endfor %}
                <div class="col-12 pagination-area" style="margin-left:300px">

                    {{ knp_pagination_render(postes) }}
              </div>
          </div><!-- /.col-lg-4 -->
        <div class="container">
        </div>
    </div>
 

{% endblock %}

{#% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
            function onClickBtnLike(event){
    event.preventDefault();
    const url = this.href;
    const spanCount = this.querySelector('a.js-likes');
    const icone = this.querySelector('i');
    axios.get(url). then (function (response) {
        spanCount. .textContent = response.data.likes;
         if (icone.classlist.contains('fas')) {
            icone.classlist.replace('fas', 'far');
        } else {
            icone.classlist.replace('far', 'fas');
        }
    });
            }
document.querySelectorAll('a.js-like').forEach(function (link){
 link.addEventListener('click',onClickBtnLike);
})
</script>
{% endblock %#}