{% extends 'base.html.twig' %}
 {% block css %}
     <head>
         <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <meta http-equiv="X-UA-Compatible" content="ie=edge" />
         <meta name="description" content="Medcity - Medical Healthcare HTML5 Template">
         <link href="assets/images/favicon/favicon.png" rel="icon">
         <title>Medcity - Medical Healthcare HTML5 Template</title>

         <link rel="stylesheet"
               href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&amp;family=Roboto:wght@400;700&amp;display=swap">
         <link rel="stylesheet" href="{{ asset("massets/css/libraries.css") }}" />
         <link rel="stylesheet" href="{{ asset("massets/css/use.fontawesome.com/releases/v5.15.3/css/all.css") }}" />
         <link rel="stylesheet" href="{{ asset("massets/css/style.css") }}" />
         {#
         <link rel="stylesheet" href="{{ asset("") }}" />
         #}

     </head>
 {% endblock %}

{% block body %}
    <section class="page-title page-title-layout1 bg-overlay" >
        <div class="bg-img"></div>
        <div class="container">
            <div class="row">
                <h2 class="text-primary text-center">Listes {{ liste}} </h2>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5" >
                    {% if is_granted('ROLE_PRO') %}
                    {%  elseif  is_granted('ROLE_USER') %}
                    <h1>Statistiques</h1>
                    <canvas id="gender" width="400" height="100"></canvas>

                    {#  <canvas id="annonces" width="400" height="100"></canvas>#}
                </div>
                {% endif %}
                <div class="card col-sm-12 col-md-12 col-lg-12 col-xl-5" style="width: 18rem;  background: linear-gradient(45deg,#4099ff,#73b4ff);  border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;">


                            <div class="card-block">
                                <h6 class="m-b-20"></h6>
                                <h2 class="text">
                                    {% if is_granted('ROLE_PRO') %}

                                        nombre de mes clients

                                    {% elseif is_granted('ROLE_USER') %}
                                        nombre de professionnels

                                    {% endif %}
                                    &nbsp;<i class="fa fa-user-md" aria-hidden="true"></i>
                                    <span>{{ users|length }}</span></h2>
                            </div>


                    </div>
                </div>


            {% if is_granted('ROLE_USER') %}
                {%  if femme is defined and male is defined %}
                <script>
                    let gender = document.querySelector("#gender")
                    let femme = "{{ femme|raw }}";
                    let male = "{{ male|raw }}";
                    let categGraph = new Chart(gender, {
                        type: "bar",
                        data: {
                            labels: ["femme","homme"],
                            datasets: [{
                                label: "pourcentage par gender",
                                data:[femme,male] ,
                                backgroundColor: ["#483D8B","#00CED1"]
                            }]
                        }
                    })
                </script>
                    {%  endif %}
            {% endif %}
                </div>
                <!-- /.col-xl-5 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>





    <section class="team-layout1 pb-40">
        <div class="container">
            <div class="row">
                {% for user in users %}

            {%  if user is not null %}
                <!-- Member #1 -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="member">
                        <div class="member__img">
                            <img src="{{ asset('uploads/users/'~ user.pdp) }}"  >
                            <div class="member__hover">
                                <ul class="social-icons list-unstyled mb-0">
                                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="phone"><i class="fas fa-phone-alt"></i></a></li>
                                </ul><!-- /.social-icons -->
                            </div><!-- /.member-hover -->
                        </div><!-- /.member-img -->
                        <div class="member__info">
                            <h5 class="member__name">
                                <a href="{{ path('app_tasks_index_nor', {'id_userP':user.id}) }}">{{ user.Nom }}   {{ user.Prenom }}</a></h5>
                            {% if user.filiere  is not null %}
                            <p class="member__job">Specialist: {{ user.filiere }}</p>
                            {%  endif %}
                            {% if user.tarif is not null %}
                            <p class="member__job" style="color: #0a58ca">Tarif: {{ user.tarif }}</p>
{%  endif %}
                            {% if user.bio is not null %}
                            <p class="member__desc">bio: {{ user.bio  }}</p>
                            {%  endif %}

                            <p class="member__desc">téléphone: {{ user.numtel }}</p>

                        </div><!-- /.member-info -->
                    </div><!-- /.member -->
                </div><!-- /.col-lg-4 -->
                    {%  endif %}
                {% endfor %}
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-12 text-center">
                    <nav class="pagination-area">
                        <ul class="pagination justify-content-center">
                            <li><a class="current" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="icon-arrow-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

