{% extends 'admin.html.twig' %}

{% block title %}CaisseOrganisation{% endblock %}

{% block body %}
    <h1>CaisseOrganisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caisse_organisation.id }}</td>
            </tr>
            <tr>
                <th>MontantCaisseOrg</th>
                <td>{{ caisse_organisation.montantCaisseOrg }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ caisse_organisation.goal }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ caisse_organisation.description }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_caisse_organisation_edit', {'id': caisse_organisation.id}) }}">edit</a>

    {{ include('caisse_organisation/_delete_form.html.twig') }}
{% endblock %}
