{% extends 'admin.html.twig' %}
{% block component %}
    <link href="{{asset("images/favicon/favicon.png") }}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&amp;family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <link href="{{asset("css/use.fontawesome.com/releases/v5.15.3/css/all.css") }}" rel="stylesheet">
    <link href="{{asset("css/libraries.css") }}" rel="stylesheet">
    <link href="{{asset("css/style.css") }}" rel="stylesheet">
{% endblock %}

{% block title %}New CategorieProduit{% endblock %}

{% block body %}

    <h1>Create new CategorieProduit</h1>





<section class="contact-layout2 pt-0 ">
    <div class="container">
        <div class="col-12">
            <div class="contact-panel ">


                    {{ include('categorie_produit/_form.html.twig') }}
        </div>
        </div>


</div>
</section>


{% endblock %}

 {% block ahmed %}
 {% endblock %}
